@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Raleway:wght@100&family=Righteous&display=swap');

*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{

  font-family: 'Righteous', cursive;
  background-color:rgba(255, 255, 255, 0.562);
 
}
#container-cabecalho{

  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin:  0 auto;
  padding: 15px;
}


.listra{

  width: 100%;
  border-bottom: 0.7px solid rgba(17, 17, 17, 0.211);
}

.logo h2{

  color: rgb(8, 137, 8);
  font-weight: bolder;
  border-bottom: 0.9px solid rgba(17, 17, 17, 0.33);
}

.logo p{

  color: rgb(176, 3, 3);
  font-size: 0.9rem;
}

.data-hora{

  display: flex;
  width: 25%;
  height: 35px;
  justify-content: space-evenly;
  background-color: rgba(6, 5, 5, 0.399);
}

.data-hora p{

  font-size: 1.1rem;
  font-weight: bolder;
  color:white;
  line-height: 35px;
}

#container-lateral{

  position: absolute;
  top: 0; 
  width:20%;
  height: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
}

.similares, .eticos, .popular,.perfumaria{

  width: 100%;
  height: 100px;
  border: 2px solid #fbc000d2;
  background-color: rgba(204, 204, 204, 0.084);
  text-align: center;
  line-height: 100px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bolder;
  border-radius: 3px;
  color:white;
}
.pointer:hover{

  cursor: pointer;
  background-color:#7bff007c;
  color:white;
  transition: 1s;
  border:none;
}

.container-conteudos{

  width: 100%;
  display: flex;
  flex-direction:row;
}

.titulo{

  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  font-size: 1rem;
  color: rgba(59, 58, 58, 0.966);
}

.titulo input{

  width: 200px;
  text-align: center;
  font-size: 1.1rem;
  border: 0.6px solid #1111;
  outline: none;
  margin-top: 15px;   
}

::-webkit-scrollbar-track {
  background-color: #2d2c2c4a;
}
::-webkit-scrollbar{
  width: 15px;
  background: #1111117c;
}
::-webkit-scrollbar-thumb {
  background: #dcdbdb;
  border-radius: 10px;
}

#data3{

  width: 10%;
  font-size: 0.9rem;
}


#data4{

  width: 10%;
  font-size: 0.9rem;
}

.task-item{

  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:  0 auto;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.task-item i {

  background-color: #3aac79;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.task-item i:hover{

  background-color: rgb(160, 49, 49);
  
}

/* box similar */

.container {
  border: 2px solid #fff;
  padding: 30px 40px;
  width: 65%;
  min-width: 500px;
  margin:  0 auto;
}

.new-task-container {
  
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.new-task-container input {
 
  width: 230px;
  height: 35px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1.1rem;
  
}

.new-task-container input:focus {
  outline: none;
  border-color: #41b883;
}

.new-task-button {
  
  width: 105px;
  height: 35px;
  background-color: rgb(10, 10, 132);
  color: white;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1.1rem;
}

.tasks-container {

  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 40px;
}

.task-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  margin-top: 6px;
}

.task-item i{
  background-color: #41b883;
  color: #fff;
  padding: 12px;
  border-radius: 5px;
}

.task-item i:hover{
  cursor: pointer;
}

/* Utilities */
.error {
  border: 2px solid red !important;
}

.error::placeholder {
  color: red;
}

.completed {
  width: 60%;
  text-decoration: line-through rgba(255, 0, 0, 0.538);
  background-color: rgba(24, 220, 24, 0.729);
  color: white;
  padding: 10px;
  border-radius: 4px;
  background-image: url('../icons/verificar.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

/* box etico */

#container-Etico{

  border: 2px solid #fff;
  padding: 30px 40px;
  width: 65%;
  min-width: 500px;
  margin:  0 auto;
  display: none;

}

.new-task-container2{

  background-color: #fff;
  padding: 30px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.new-task-container2 input {
 
  width: 230px;
  height: 35px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1.1rem; 
}

.btAddText1,.btAddText2,.btAddText3{
  width: 105px;
  height: 35px;
  background-color: rgb(10, 10, 132);
  color: white;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1.1rem;
}

.receberItemEtico{

  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 40px;

}

#data5{

  width: 10%;
  font-size: 0.9rem;
}

/* box popular */

#container-popular{

  border: 2px solid #fff;
  padding: 30px 40px;
  width: 65%;
  min-width: 500px;
  margin: 0 auto;
  display: none;
}

.new-task-container3{
  padding: 10px;
  font-size: 1.1rem; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin:  0 auto;
  
}

.new-task-container3 input{

  width: 230px;
  height: 35px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1.1rem; 
  outline: none;
}

.receberItemPopular{

  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 40px;
}

#data6{

  width: 10%;
  font-size: 0.9rem;
}
#data7p,#data8p{

  width: 10%;
  font-size: 0.9rem;
}

/* box perfumaria */

#container-perfumaria{

  border: 2px solid #fff;
  padding: 30px 40px;
  width: 65%;
  min-width: 500px;
  margin: 0 auto;
  display: none;
}
.new-task-container4{
  padding: 10px;
  font-size: 1.1rem; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin:  0 auto;
}
.new-task-container4 input{
  width: 230px;
  height: 35px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1.1rem; 
  outline: none;
}

.receberItemPerfumaria{
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 40px;

}